= link_to "Back to list", admin_experiments_path
%h1 Editing #{experiment.name}
= form_for [:admin, experiment] do |f|
  .fl
    .label
      =f.label :name
    .field
      =f.text_field :name
  .fl
    = submit_tag "Save"

%h3 Avatars
= form_for [:admin, experiment, Avatar.new] do |f|
  .fl
    .label
      = f.label :name
    .field
      =f.text_field :name
  .fl
    .field
      =f.file_field :uploaded_file
  .fl
    = submit_tag "Upload!"
= render :partial => 'avatar', :collection => experiment.avatars